body {
  	background: url("images/diningroom.jpg") no-repeat;
  	background-size: cover;
  	background-position: right-bottom;
  	background-attachment: fixed;
  	margin: 0px;
  	text-align: center;
  	padding-top: 100px; 

	font-family: 'Raleway', sans-serif;
	text-align: center;
	font-size: 40px;
	font-weight: 400;
	background-color: #fff;
	color: #696969; }
	text-shadow: black 0.1em 0.1em 0.2em}

  	p {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	font-size: 40px;
	font-weight: 400;
	color: #fff; }